(
    image: "2d/animated/characters/demo-player/demo-player.png",
    frame_size: (24, 24),
    columns: 7,
    rows: 1,
    clips: {
        "idle": (
            frames: [0],
            fps: 8.333333,
            repeat: true,
        ),
        "walk": (
            frames: [1, 2, 3, 4, 5, 6],
            fps: 8.333333,
            repeat: true,
        ),
    },
)
